@tailwind base;
@tailwind components;
@tailwind utilities;
/* Scrollbar styles for TeamSlider */
.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
